#
# This group is read both both by the client and the server
# use it for options that affect everything
#
[client-server]

#
# include all files from the config directory
#
!includedir /etc/my.cnf.d

[mysqld]

# uslims keys from uleth
ssl-ca = /etc/my.cnf.d/ssl/ca-cert.pem
ssl-cert = /etc/my.cnf.d/ssl/server-cert.pem
ssl-key = /etc/my.cnf.d/ssl/server-key.pem

bind-address = 0.0.0.0
