[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=env LD_LIBRARY_PATH=/opt/qt-{{ qt_version }}/lib:/opt/qt-{{ qt_version }}-qwt-{{ qwt_version }}/lib:/opt/ultrascan3/lib /opt/ultrascan3/bin/us3_somo
Name=US-SOMO
Comment=
Icon=/opt/ultrascan3/etc/somo3_icon_512x512.png
Comment[en_US.utf8]=
Name[en_US]=US-SOMO
