#%Module 1.0
#
#  ultrascan/mpi module for use with 'environment-modules' package:
#

# Only allow one us-mpi module to be loaded at a time
conflict ultrascan

# Define prefix so PATH and MANPATH can be updated.
setenv        US_MPI        {{ us3_cluster_path }}
setenv        US_NODB       {{ us3_nodb_path }}
prepend-path  PATH          {{ us3_cluster_path }}/bin
prepend-path  LD_LIBRARY_PATH {{ us3_cluster_path }}/lib


