[Unit]
Description= gridctl us3 listen daemon
Wants=network-online.target
After=network-online.target

[Service]
User=us3

Type=simple

ExecStart=php /home/us3/lims/bin/listen.php
