[Unit]
Description= gridctl us3 listen daemon
Wants=network-online.target
After=network-online.target

[Service]
User=us3

Type=oneshot

ExecStart=php /home/us3/lims/bin/services.php start
ExecReload=php /home/us3/lims/bin/services.php restart
ExecStop=php /home/us3/lims/bin/services.php stop

RemainAfterExit=yes
