#
# This group is read both both by the client and the server
# use it for options that affect everything
#
[client-server]

#
# include all files from the config directory
#
!includedir /etc/my.cnf.d

[mysqld]

# uslims keys from uleth
ssl-ca = {{ sql_ssl_ca }}
ssl-cert = {{ sql_ssl_cert }}
ssl-key = {{ sql_ssl_key }}

bind-address = 0.0.0.0
